//====================================================================================================

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	
	&._scroll {
		.header__wrapper {
			background-color: rgba(255, 255, 255, 0.9);
		}
		.header__body {
			min-height: 100px;
			@media (max-width:$tablet){
				min-height: 90px;
			}
		}
	}

	&__wrapper {
		background-color: rgba(255, 255, 255, 0.8);
		transition: background-color 0.3s ease 0s;
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 8;
	}

	&__container {
	}

	// .header__body

	&__body {
		transition: min-height 0.3s ease 0s;
		display: flex;
		min-height: 133px;
		align-items: center;
		position: relative;
		@media (max-width: $tablet){
			min-height: 90px;
		}
		@media (max-width:$mobile){
			min-height: 50px;
			padding: 10px 0px;
		}
	}

	// .header__logo

	&__logo {
		position: relative;
		z-index: 5;
		flex-grow: 0;
		flex-shrink: 0;
		@include adaptiveValue("flex-basis", 295, 190, 1570, 991, 1);
		//@media (max-width:$mobileSmall){
		//	flex: 0 0 130px;
		//}
		img {
			max-width: 100%;
		}
	}

	// .header__menu

	&__menu {
		flex: 1 1 auto;
		@include adaptiveValue("margin-left", 120, 30, $containerWidth, 768, 1);
	}
}
.menu {

	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
		@media (max-width: $tablet) {
			transition: left 0.3s ease 0s;
			position: fixed;
			top: 0;
			left: -100%;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
			background: #fff url("@img/main-page/3.png") 0 0 / cover no-repeat;
			@media (min-width:$mobile){
				width: 70%;
			}
			@media (max-width:$mobile){
				width: 100%;  
			}
			height: 100%;
			padding: 85px 0px 0px 0px;
			overflow: auto;
			
			&::before{
				content:'';
				transition: left 0.3s ease 0s;
				display: block;
				position: fixed;
				top: 0;
				left: -100%;
				height: 90px;
				width: 100%;
				background-color: #fff;
				z-index: 5;
				@media (max-width:$mobile){
					min-height: 70px;
				}
			}
			.menu-open & {
				left: 0;
				&::before{
					content:'';
					left: 0;
				}
			}
		}
	}

	&__social {
		display: none;
		@media (max-width:$tablet){
			display: block;
			margin: 0px 10px;
			display: flex;
			flex-wrap: wrap;
			column-gap: 10px;
			row-gap: 15px;
		}
	}

	&__social-link {
		display: block;
		flex: 0 0 30px;
		height: 30px;
		background-color: #163F8E;
		color: #fff;
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	
	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		
		@media (max-width:$tablet){
			flex-direction: column;
			align-items: center;
		}
	}

	// .menu__item

	&__item {
		@media (min-width:$tablet){
			&:not(:last-child) {
				@include adaptiveValue("margin-right", 30, 20, $containerWidth, $minWidth, 1);
			}	  
		}
		@media (max-width:$tablet){
			width: 100%;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: rem(40);
			}
		}
	}

	// .menu__link

	&__link {
		color: #202020;
		line-height: 180%;
		@include adaptiveValue("font-size", 18, 16, $containerWidth, $minWidth, 1);
		padding: 5px 10px;
		transition: all 0.3s ease 0s;
		border-radius: 3px;
		@media (any-hover: hover){
			&:hover{
				color: #fff;
				background-color: #163F8E;
			}
		}
		@media (max-width:$tablet){
			@include adaptiveValue("font-size", 24, 20, $containerWidth, $minWidth, 1);
		}
	}
}
.icon-menu {
	display: none;
}
.icon-menu {
	@media (max-width: $tablet) {
		display: block;
		position: absolute;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		right: 0;
		top: 40px;
		@media (max-width:$mobile){
			top: rem(21); 
		}
		@media (max-width:$mobileSmall){
			top: rem(22);
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
